<h3>DQ Spider</h3>
<div class="container-fluid" style="border:1px solid black;">
    <form action="dg1" method="POST">

    <div class="row" >
        <div class="col-sm-4" style="vertical-align: middle;">
                Appropriate Frame (AF):<br>
                Creative Doable Alternatives (CDA):<br>
                Meaningful Information (MI):<br>
                Clear Decision Criteria (CDC):<br>
                Logical Reasoning (LR):<br>
                Commitment to Action (CA):<br> 
        </div>
        <div class="col-sm-2" style="vertical-align: middle;"> 
            <!-- <form action="dg1" method="POST"> -->
                <input type="range" id="af" value="50" onchange="redraw_polyline()"><br>
                <input type="range" id="cda" value="50" onchange="redraw_polyline()"><br>
                <input type="range" id="mi" value="50" onchange="redraw_polyline()"><br>
                <input type="range" id="cdi" value="50" onchange="redraw_polyline()"><br>
                <input type="range" id="lr" value="50" onchange="redraw_polyline()"><br>
                <input type="range" id="ca" value="50" onchange="redraw_polyline()"><br>            
            <!--
                <button type="submit" class="btn btn-primary">Vote!</button>
                </form> 
            -->
        </div>
        <div class="col-sm-6">
            <svg width="400" height="400" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit-->
                <g class="layer">
                 <title>Layer 1</title>
                 <polygon stroke-width="3" stroke="#000000" points= <%= @spider.get_vertices_for_svg %> fill="none" id="spider"/>
                 <line fill="none" stroke="#000000" stroke-width="3" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1= <%= @lines[0].p1.x %> y1= <%= @lines[0].p1.y %> x2= <%= @lines[0].p2.x %> y2= <%= @lines[0].p2.y %> id="svg_1"/>
                 <line fill="none" stroke="#000000" stroke-width="3" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1= <%= @lines[1].p1.x %> y1= <%= @lines[1].p1.y %> x2= <%= @lines[1].p2.x %> y2= <%= @lines[1].p2.y %> id="svg_3"/>
                 <line fill="none" stroke="#000000" stroke-width="3" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1= <%= @lines[2].p1.x %> y1= <%= @lines[2].p1.y %> x2= <%= @lines[2].p2.x %> y2= <%= @lines[2].p2.y %> id="svg_4"/>
                 <line fill="none" stroke="#000000" stroke-width="13" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1= <%= @spider.centrepoint.x %> y1= <%= @spider.centrepoint.y %> x2=<%= @spider.centrepoint.x %> y2=<%= @spider.centrepoint.y %> id="centre"/>                 
                 <text x= <%= @spider.polygon.point[0].x + 2 %> y = <%= @spider.polygon.point[0].y + 2 %> >AF</text>
                 <text x= <%= @spider.polygon.point[1].x + 2 %> y = <%= @spider.polygon.point[1].y + 2 %> >CDA</text>
                 <text x= <%= @spider.polygon.point[2].x + 2 %> y = <%= @spider.polygon.point[2].y + 2 %> >MI</text>
                 <text x= <%= @spider.polygon.point[3].x + 2 %> y = <%= @spider.polygon.point[3].y + 2 %> >CDC</text>
                 <text x= <%= @spider.polygon.point[4].x + 2 %> y = <%= @spider.polygon.point[4].y + 2 %> >LR</text>
                 <text x= <%= @spider.polygon.point[5].x + 2 %> y = <%= @spider.polygon.point[5].y + 2 %> >CA</text>
                </g>
                <g class="layer">
                 <title>Layer 2</title>
                 <!--
                 <path fill="none" stroke="#f20909" stroke-width="3" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m 251,100 l 37,90 l -58,48 l-77,34 l-46,-82 l48,-79 l96,-11z" id="svg_6"/>
                 <polygon points="263,200 240,269 130,320 155,200 170,148 208,184 "  style="fill:none;stroke:red;stroke-width:5" id="polyline_1"/>
                 -->
                 <polygon stroke="red" stroke-width="5" points= <%= @vote_spider.get_vertices_for_svg %>  fill="none" id="vote_spider"/>
                </g>
               </svg>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Vote!</button>
    </form>
</div>

<script>
    
</script>