<h3>DQ Spider</h3>
<div class="container-fluid" style="border:1px solid black;">
    <div class="row" >
        <div class="col" style="vertical-align: middle;">
                Appropriate Frame (AF):<br>
                Creative Doable Alternatives:<br>
                Meaningful Information:<br>
                Clear Decision Criteria:<br>
                Logical Reasoning:<br>
                Commitment to Action:<br> 
        </div>
        <div class="col" style="vertical-align: middle;"> 
            <form action="dg1" method="POST">
                <input type="range" id="af" value="50" onchange="redraw_polyline()"><br>
                <input type="range" id="cda" value="50" onchange="redraw_polyline()"><br>
                <input type="range" id="mi" value="50" onchange="redraw_polyline()"><br>
                <input type="range" id="cdi" value="50" onchange="redraw_polyline()"><br>
                <input type="range" id="lr" value="50" onchange="redraw_polyline()"><br>
                <input type="range" id="ca" value="50" onchange="redraw_polyline()"><br>            
                <button type="submit" class="btn btn-primary">Vote!</button>
            </form>
        </div>
        <div class="col">
            <svg width="400" height="400" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit-->
                <g class="layer">
                 <title>Layer 1</title>
                 <polygon stroke-width="3" stroke="#000000" points= <%= @spider.get_vertices_for_svg %> fill="none" id="spider"/>
                 <line fill="none" stroke="#000000" stroke-width="3" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1= <%= @lines[0].p1.x %> y1= <%= @lines[0].p1.y %> x2= <%= @lines[0].p2.x %> y2= <%= @lines[0].p2.y %> id="svg_1"/>
                 <line fill="none" stroke="#000000" stroke-width="3" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="290" y1="355" x2="110" y2="45" id="svg_3"/>
                 <line fill="none" stroke="#000000" stroke-width="3" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="111" y1="355" x2="289" y2="45" id="svg_4"/>
                 <line fill="none" stroke="#000000" stroke-width="13" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="200" y1="200" x2="200" y2="200" id="centre"/>                 
                 <text x="385" y="200">AF</text>
                </g>
                <g class="layer">
                 <title>Layer 2</title>
                 <!--
                 <path fill="none" stroke="#f20909" stroke-width="3" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m 251,100 l 37,90 l -58,48 l-77,34 l-46,-82 l48,-79 l96,-11z" id="svg_6"/>
                 <polygon points="263,200 240,269 130,320 155,200 170,148 208,184 "  style="fill:none;stroke:red;stroke-width:5" id="polyline_1"/>
                 -->
                 <polygon stroke="red" stroke-width="5" points= <%= @vote_spider.get_vertices_for_svg %>  fill="none" id="vote_spider"/>
                </g>
               </svg>
        </div>
    </div>
</div>

<script>
    function redraw_polyline(){
        var vote_spider_points = document.getElementById("spider").getAttribute("points").split(" ");
        var cx = parseInt(document.getElementById("centre").getAttribute("x1"));
        var cy = parseInt(document.getElementById("centre").getAttribute("y1"));
        var dividers=[];
        dividers.push(parseInt(document.getElementById("af").value)/100);
        dividers.push(parseInt(document.getElementById("cda").value)/100);
        dividers.push(parseInt(document.getElementById("cdi").value)/100);
        dividers.push(parseInt(document.getElementById("mi").value)/100);
        dividers.push(parseInt(document.getElementById("lr").value)/100);
        dividers.push(parseInt(document.getElementById("ca").value)/100);
        
        var s = "" ;
        for (i=0;i<vote_spider_points.length-1;i++){
            /*console.log(vote_spider_points[i],dividers[i]);*/
            p=vote_spider_points[i].split(",");
            new_p_x=parseInt(p[0])*dividers[i] + cx*(1-dividers[i]);
            new_p_y=parseInt(p[1])*dividers[i] + cy*(1-dividers[i]);
            /*console.log(new_p_x,new_p_y);*/
            s += new_p_x+','+new_p_y+' ';
        }
        vote_spider.setAttribute("points",s);

        /*console.log(s);*/
        /*console.log(af,cda,cdi,mi,lr,ca);*/
        /*console.log(vote_spider_points);*/
        /*console.log(document.getElementById("centre").getAttribute("x1"))  */
        
    }
</script>